![](img/big_day_ipynb_aca_head.png)

<img src="img/big_day_aca_head.png" align="right">

# Data Cleaning

This notebook contains code snippets for basic reading and cleaning tasks.

## Table of Contents<span id="0"></span>

1. [**Import & Review**](#1)
<br/><br/>
2. [**DataFrame Indexing**](#2)
<br/><br/>
3. [**Header Formatting**](#3)
  * lowercase
  * replace spaces with underscore
<br/><br/>
4. [**Change Datatypes**](#4)
  * str to int and float
  * DateTime
<br/><br/>
5. [**Remove Columns & Rows**](#5)
<br/><br/>
6. [**Update Columns & Rows**](#6)
<br/><br/>
7. [**Reformatting Strings**](#7)
<br/><br/>
8. [**Deal with Nulls**](#8)
  * Remove Nulls
  * Replace Nulls
<br/><br/>
9. [**Deal with Categorical Data**](#9)
  * Convert to numerical
  * Dummy Variables
<br/><br/>
10. [**Deal with Outliers**](#10)

## <span id="1"></span>1. Import & Review
#### [Return Contents](#0)

### Import Packages

In [ ]:
import pandas as pd
import numpy as np

### Import Files

In [ ]:
df = pd.read_csv('file_name.csv')
df = pd.read_excel()
df = pd.read_json()
df = pd.DataFrame.from_dict()
df = pd.read_stata('file_name.dtaâ€™)
df = pd.read_sql_table('table_name', 'postgres:///db_name')

### .CSV Import Options

In [ ]:
df = pd.read_csv('Yelp_Reviews.csv', index_col=0) 
df = pd.read_csv('Data.csv', nrows=100) #limits to a preview of n rows
df = pd.read_csv('Data.csv', skiprows=1, nrows=100) #you could also use the skip rows parameter
df = pd.read_csv('Data.csv', header=1) #header specifies the row where column names are and starts importing data from that point.
df = pd.read_csv('Data.csv', header=1, encoding='latin-1') #encoding relates to how the strings within the file are formatted
df = pd.read_csv('Data.csv', usecols=[0, 1, 2, 5, 6], encoding='latin-1') #selecting specific columns

### Preview the DataFrame

In [ ]:
df.head() #First rows of the dataframe
df.tail() #Last rows of the dataframe
df.shape #dimensions of the dataframe

### View all Columns & Rows

In [ ]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

### Initial Review

Look at datatypes, Identify null values, look for outliers, and get a sense of the range of your data.

In [ ]:
df.info() #nulls & dtypes
df.describe() #descriptive statistics
df.isnull().sum() #number of nulls per column

## <span id="2"></span>2. DataFrame Indexing
#### [Return Contents](#0)

### Multiple Columns

In [ ]:
df[[column1, column2, column3]]

### .iloc

In [ ]:
df.iloc[5:8] #shows rows 5, 6, and 7.
df.iloc[:, 3:7] #shows all rows but only columns 3-6.
df.iloc[5:10, 3:9] #shows rows 5-9 and columns 3-8.

### .loc

In [ ]:
df.loc[:, 'column'] #all rows and column 'magnesium'
df['column'] #same result as above
df.loc[7:16, 'column'] #rows 7-15 of column
df.loc[df['column'] < 12, ['column']] #shows the results only less than 12 in column
df.loc[(df['column'] == 1950) & (df['column2'] == "14")]

## <span id="3"></span>3. Header Formatting
#### [Return Contents](#0)

Header column names should be in lower case and contain underscore instead of space.

### Rename columns

In [ ]:
df = df.rename(columns={'Long column name' : 'column'})

### Make column names lower case and replace spaces with _

In [ ]:
df = df.rename(columns=lambda x: x.lower().replace(' ', '_'))

## <span id="4"></span>4. Changing Data Types
#### [Return Contents](#0)

### Change data type of columns

In [ ]:
df['column'] = df['column'].astype(int)
df['column'] = df['column'].astype(float)

### Change string date to datetime object

In [ ]:
# Test first
pd.to_datetime(df['date_column']).head() 
# Apply changes and preview
df['DATE'] = pd.to_datetime(df['date_column'])
print(df['date_column'].dtype)

## <span id="5"></span>5. Drop Columns & Rows
#### [Return Contents](#0)

### Drop Columns

In [ ]:
df.drop(['Column', 'Column'], axis=1)
df.drop(columns=['Column', 'Column'])

### Drop Rows

In [ ]:
# Delete the rows with labels 0,1,5
data = data.drop([0,1,2], axis=0)
# For label-based deletion, set the index first on the dataframe:
data = data.set_index("Area")
data = data.drop("Ireland", axis=0). # Delete all rows with label "Ireland"
# Delete the first five rows using iloc selector
data = data.iloc[5:,]

## <span id="6"></span>6. Update Columns & Rows
#### [Return Contents](#0)

### Column transformations

In [ ]:
df['Column'].apply(lambda x: x**2).head()

### Insert new column

Insert a column in a specific location of the DataFrame

In [ ]:
# Inserts new column of zeros
df.insert(loc=2, column='new_col', value=['' for i in range(df.shape[0])])

### Reassigning row values

In [ ]:
df.loc[df['column'] > 10, 'column'] = 10

## <span id="7"></span>7. Reformatting Strings
#### [Return Contents](#0)

### Remove Spaces

#### 1. Remove space everywhere

In [ ]:
df.columns = df.columns.str.replace(' ', '')

#### 2. Remove space at the beginning of string:

In [ ]:
df.columns = df.columns.str.lstrip()

#### 3. Remove space at the end of string:

In [ ]:
df.columns = df.columns.str.rstrip()

#### 4. Remove space at both ends:

In [ ]:
df.columns = df.columns.str.strip()

### Replace Spaces with Other Characters

For example, with underscores.

#### 1. Replace spaces everywhere:

In [ ]:
df.columns = df.columns.str.replace(' ', '_')

#### 2. Replace spaces at the beginning:

In [ ]:
df.columns = df.columns.str.replace('^ +', '_')

#### 3. Replace spaces at the end:

In [ ]:
df.columns = df.columns.str.replace(' +$', '_')

#### 4. Replace spaces at both beginning and end:

In [ ]:
df.columns = df.columns.str.replace('^ +| +$', '_')

#### Remove spaces behind punctuation marks:

In [ ]:
import re #regex
re.sub(r'\s([?.!"](?:\s|$))', r'\1', text)

## <span id="8"></span>8. Deal with Null Values
#### [Return Contents](#0)

### Remove Nulls

In [ ]:
df.dropna() #drops observations with any missing values.
df.dropna(subset=['value_euro'], inplace=True) #drops nulls based on a specific column.
df['column'].fillna(0, inplace=True) #fills Nulls with zeros

### Replace Nulls

In [ ]:
df['column'].fillna(0, inplace=True) #fills Nulls with zeros
df['column'].interpolate() #a function that guesses the value based on the other data in the column

## <span id="9"></span>9. Deal with Categorical Data
#### [Return Contents](#0)

Categorical data must be converted into numerical data that represents each category.  This can either be done by keeping the categories in the same solumn or converting it into dummy variable columns with 0s and 1s.

### Convert to Numerical Data

In [ ]:
df['column'].unique #get the unique values in the column
cats = { 'column': {'': 0, 'cat1':1, 'cat2':2, 'cat3':3,'cat4':4,}} #map the categories to numberical values
df.replace(cats, inplace=True) #replace the old with the new
df.head() #check results

### Convert to Dummy Variables

In [ ]:
relevant_columns = ['col1', 'col2', 'col3'] #identify relevant columns
dummy_dataframe = pd.get_dummies(df[relevant_columns], drop_first=True, dtype=float) #create dummy variable columns
df.head() #check result

## <span id="10"></span>10. Deal with Outliers
#### [Return Contents](#0)

### Identify Quantiles and Remove

In [ ]:
upper_q = df['value_euro'].quantile(.975) #identify value at 97.5%
upper_q #check value
df = df[df['value_euro'] < upper_q] #remove from dataframe
df.describe() #check results

lower_q = df['value_euro'].quantile(.025) #identify value at 2.5%
lower_q #check value
df = df[df['value_euro'] > lower_q] #remove from dataframe
df.describe() #check results

[<img src="img/frank_contact_card_button3.png" align="center">](http://www.bigday.ai)